{% extends 'base.html' %}

{% block header %}
<div class="nav-scroller nav bg-white shadow-sm">
    <nav class="nav nav-underline">
        <a class="nav-link" href="{{ url_for('blog.index') }}">World</a>
        <a class="nav-link" href="{{ url_for('blog.friends_blog', user_id=g.user['id']) }}">
            Friends
        </a>
        <a class="nav-link" href="{{ url_for('user.users_index') }}">Explore</a>

        <a class="nav-link" href="{{ url_for('user.show_user', user_id=user['id']) }}">{{ user['username']}}</a>

        <a class="nav-link active" href="{{ url_for('user.show_followers', user_id=user['id']) }}">Followers</a>
        <a class="nav-link" href="{{ url_for('user.show_leaders', user_id=user['id']) }}">Following</a>

        {% if g.user['id'] != user['id'] %}
        <a class="nav-link" href="{{ url_for('message.create_rd_way', send_to_name=user['username']) }}">Send Message</a>
        {% endif %}

    </nav>
</div>
{% endblock %}



{% block content %}

<div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
    <img class="mr-3" src="/static/logo.png" alt="" width="48" height="48">
    <div class="lh-100">
        <h5 class="mb-0 text-white lh-100">{{ user['username']}}</h5>
        <h6>Since {{ user['dated'].strftime('%Y-%m-%d') }}</h6>
        <b7>birthday: {{ user['birthday'] }}</b7> <br>
        <b7>gender: {{ user['gender'] }}</b7> <br>
        <b7>email: {{ user['email'] }}</b7> <br>
        <b7>TEL: {{ user['telephone'] }}</b7> <br>
        <b7>introduction: {{ user['introduction'] }}</b7> <br>
    </div>
</div>

<div class="my-19 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Followers</h6>
    {% for follower in followers %}

        <div class="media text-muted pt-3">
            <img data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1" alt="32x32" class="mr-2 rounded" style="width: 32px; height: 32px;" src="https://upload.wikimedia.org/wikipedia/zh/thumb/6/6f/Icon_of_%E6%97%85%E3%81%8B%E3%81%88%E3%82%8B_20180122.png/220px-Icon_of_%E6%97%85%E3%81%8B%E3%81%88%E3%82%8B_20180122.png" data-holder-rendered="true">
            <p class="media-body pb-3 mb-0 big lh-125 border-bottom border-gray">
                <a href="{{ url_for('user.show_user', user_id=follower['id']) }}">
                    <strong class="d-block text-gray-dark">{{ follower['username'] }}</strong>
                </a>
                <em>From {{ follower['dated'].strftime('%Y-%m-%d') }} </em>
            </p>

        </div>
    {% endfor %}
</div>
{% endblock %}
