{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Blog{% endblock %}</h1>
{% endblock %}
{% block content %}
<script type="text/javascript">
		function checkLength(obj)  { 
			
		    var maxChars = 140;//最多字符数
		    var curr = maxChars - obj.value.length; 
		    if( curr > 0 ){
		    	document.getElementById("checklen").innerHTML = curr.toString(); 
		    }else{
		    	document.getElementById("checklen").innerHTML = '0';
		    	document.getElementById("subject").readOnly=true;
		    }
		} 
		
</script>
    <form method="post">
    <label for="body">Body</label>
        <textarea name="body" id="body" maxlength="140" onkeyup="checkLength(this)"   onfocus="javascript:if(this.value=='Context is required')this.value='';">Context is required</textarea>
        <span id="subjectchk">
			<strong id="checklen" style="color:#FF0000">140</strong>
			character(s) left
		</span>
		<span id="postNameRule" class="spn_flag_1" style="display:none" ></span>
      <input type="submit" value="Save">
  </form>
{% endblock %}