{% extends 'base.html' %}

{% block header %}
  <div class="nav-scroller nav bg-white shadow-sm">
    <nav class="nav nav-underline">
        <a class="nav-link" href="{{ url_for('blog.index') }}">World</a>
        <a class="nav-link" href="{{ url_for('blog.friends_blog', user_id=g.user['id']) }}">
            Friends
        </a>
        <a class="nav-link" href="{{ url_for('user.users_index') }}">Explore</a>
        <a class="nav-link active" href="{{ url_for('blog.create') }}">New Blog</a>
    </nav>
  </div>
{% endblock %}

{% block content %}
<script type="text/javascript">
		function checkLength(obj)  { 
			
		    var maxChars = 140;//最多字符数
		    var curr = maxChars - obj.value.length; 
		    if( curr > 0 ){
		    	document.getElementById("checklen").innerHTML = curr.toString(); 
		    }else{
		    	document.getElementById("checklen").innerHTML = '0';
		    	document.getElementById("subject").readOnly=true;
		    }
		} 
		
</script>
<div class="my-19 p-3 bg-white rounded shadow-sm">
    <form method="post">
    <label for="body">Creating Blog</label>
        <textarea name="body" id="body" class="form-control" rows="3" maxlength="140" onkeyup="checkLength(this)"   onfocus="javascript:if(this.value=='Context is required')this.value='';">Context is required</textarea>
        <span id="subjectchk">
			<strong id="checklen" style="color:#FF0000">140</strong>
			character(s) left
		</span>
		<span id="postNameRule" class="spn_flag_1" style="display:none" ></span>
      <button class="btn btn-primary btn-block" type="submit" value="Save">Save</button>
    </form>
</div>
{% endblock %}