{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Details{% endblock %}</h1>
{% endblock %}

{% block content %}
    <article class="post">
      <header>
        <div>
          <h1>[Origin]</h1>
          <div class="about">by {{ blog['username'] }} on {{ blog['dated'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == blog['author_id'] %}
          <a class="action" href="{{ url_for('blog.update', id=blog['id']) }}">Edit</a>
        {% endif %}

        {% if g.user %}
          <a class="action" href="{{ url_for('comment.create_comment_blog', blog_id=blog['id'], user_id=g.user['id']) }}">  Comment</a>
        {% endif %}

        {% if g.user and blog['id'] not in g.fork%}
          <a class="action" href="{{ url_for('fork.create', blog_id=blog['id']) }}">  Fork</a>
        {% elif g.user and blog['id'] in g.fork%}
            <a class="action" href="{{ url_for('fork.delete', blog_id=blog['id']) }}">  UnFork</a>
        {% endif %}

      </header>
      <p class="body">{{ blog['context'] }}</p>
    </article>

    {% for comment in comments %}
    <article class="post">
      <header>
        <div>
          <div class="about">Commented by {{ comment['username'] }} on {{ comment['dated'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == comment['author_id'] %}
          <a class="action" href="{{ url_for('comment.update', user_id=g.user['id'], blog_id=comment['blog_id'], dated=comment['dated']) }}">Edit</a>
        {% endif %}
      </header>
      <p class="body">{{ comment['context'] }}</p>

    </article>
      <a class="action" href="{{ url_for('comment.show_comment', user_id=g.user['id'], blog_id=comment['blog_id'], dated=comment['dated']) }}">See more</a>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}

{% endblock %}
