{% extends 'base.html' %}


<link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

{% block header %}
<div class="nav-scroller nav bg-white shadow-sm">
    <nav class="nav nav-underline">
        <a class="nav-link" href="{{ url_for('blog.index') }}">World</a>
        <a class="nav-link" href="{{ url_for('blog.friends_blog', user_id=g.user['id']) }}">Friends</a>
        <a class="nav-link" href="{{ url_for('user.users_index') }}">Explore</a>
        <a class="nav-link" href="{{ url_for('community.community_index') }}">Community</a>
        {% if g.not_read and g.not_read > 0 %}
            <a class="nav-link" href="{{ url_for('message.message_index') }}">You Have New Messages! {{ g.not_read }}</a>
        {% else %}
            <a class="nav-link" href="{{ url_for('message.message_index') }}">Messages</a>
        {% endif %}
        <a class="nav-link" href="{{ url_for('message.create_nd_way') }}">Send Message</a>
        <a class="nav-link" href="{{ url_for('blog.create') }}">New Blog</a>
        <a class="nav-link" href="{{ url_for('community.create') }}">New Community</a>
    </nav>
</div>
{% endblock %}

{% block content %}
<div class="my-19 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Most recent blogs</h6>
    {% for blog in blogs %}

        <div class="media text-muted pt-3">
            <img data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1" alt="32x32" class="mr-2 rounded" style="width: 32px; height: 32px;" src="https://upload.wikimedia.org/wikipedia/zh/thumb/6/6f/Icon_of_%E6%97%85%E3%81%8B%E3%81%88%E3%82%8B_20180122.png/220px-Icon_of_%E6%97%85%E3%81%8B%E3%81%88%E3%82%8B_20180122.png" data-holder-rendered="true">
            <p class="media-body pb-3 mb-0 big lh-125 border-bottom border-gray">
                {% if blog['fork_time'] %}
                <strong class="d-block text-gray-dark">@{{ blog['fork_username'] }}</strong>
                {% else %}
                <strong class="d-block text-gray-dark">@{{ blog['username'] }} </strong>
                {% endif %}

                {% if blog['ori_blog_id'] == -1 %}
                <a style="color:black!important; text-decoration:none!important}" href="{{ url_for('blog.show_blog', blog_id=blog['id']) }}">
                    {{ blog['context'] }}
                </a>
                {% else %}
                <a style="color:black!important; text-decoration:none!important}" href="{{ url_for('fork.show_fork', blog_id=blog['id'], user_id=blog['fork_id']) }}">
                    {{ blog['fork_comment'] }}
                </a>
                    {% if blog['ori_blog_id'] != 0 %}
                        <em class="d-block text-gray-dark">Forwarded from:</em>
                        <strong><em class="d-block text-gray-dark">&nbsp &nbsp &nbsp @{{ blog['username'] }}</em></strong >
                        <em class="d-block text-gray-dark"> &nbsp &nbsp &nbsp {{ blog['context'] }} </em>
                    {% else %}
                        <em class="d-block text-gray-dark">The blog had been deleted by author</em>
                    {% endif %}
                {% endif %}
                {% if blog['fork_time'] %}
                <em class="d-block text-gray-dark">{{ blog['fork_time'].strftime('%Y-%m-%d') }} </em>
                {% else %}
                <em class="d-block text-gray-dark">{{ blog['dated'].strftime('%Y-%m-%d') }}</em>
                {% endif %}
            </p>
        </div>

{% endfor %}
</div>
{% endblock %}
