{% extends 'base.html' %}

<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">

{% block login %}
  <form method="post" class="form-signin">

    <div class="text-center mb-4">
    <img class="mb-4" src="/static/logo.png" alt="" width="72*2" height="72*2">
    <h1 class="h3 mb-3 font-weight-normal">Join the People!</h1>
    </div>

    <label for="username">Username</label>
    <!--<input name="username" id="username" required>-->
    <input name="username" type="username" id="username" class="form-control" placeholder="User Name" required autofocus="">
    <label for="password">Password</label>
    <input name="password" type="password" id="password" class="form-control" placeholder="Password" required>
    <!--<input type="password" name="password" id="password" required>-->
    <!--<input type="submit" value="Log In">-->

      <!-- start -->
    <label for="birthday">birthday</label>
    <input name="birthday" type="username" id="birthday" class="form-control" placeholder="birthday" required autofocus="">

    <label for="email">email</label>
    <input name="email" type="username" id="email" class="form-control" placeholder="email" required autofocus="">

    <label for="gender">gender</label>
    <input name="gender" type="username" id="gender" class="form-control" placeholder="gender" required autofocus="">

    <label for="telephone">telephone</label>
    <input name="telephone" type="username" id="telephone" class="form-control" placeholder="telephone" required autofocus="">

    <label for="introduction">introduction</label>
    <input name="introduction" type="username" id="introduction" class="form-control" placeholder="introduction" required autofocus="">

      <!-- end -->

      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted text-center">© 1926-forever</p>
  </form>
{% endblock %}